.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .txt {
  font-size: 45px;
  font-weight: bold;
ã€€color: rgb(30, 50, 93);
}
#url_input,
#title_input {
    width: 800px;
}
