<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>アンケート自動まとめ</title>    
</head>

<body>
    <form id="Form1" action="/process" method="post">
        <h1>アンケート自動まとめ</h1>
        <div>
            <p>まとめたいGoogleスプレッドシートのURLを入力して下さい。</p>
            <input type="text" name="url_input" id="url_input">
            <button id="get_info" type="submit" onclick="submitForm()">情報取得</button>
            <script>
                function submitForm() {
                    var form = document.getElementById("Form1");
                    form.submit();
                }
                $(function () {
                    $("form").on('submit', function () {
                        $.LoadingOverlay("show");
                    });
                });
                <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
            </script>
        </div>
    </form>
</body>

</html>
